/* login styles */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  input {
    width: 200px;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button {
    padding: 10px 20px;
    background-color: #e100ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
  }
  
  .login-button:hover {
    background-color: #7c1f88;
  }

/* sidebar styles */
.sidebar {
  width: 60px;
  height: 100%;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: width 0.3s;
}

.sidebar.expanded {
  width: 200px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

.sidebar button {
    padding: 10px 20px;
    background-color: #e100ff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
}

.sidebar button:hover {
    background-color: #7c1f88;
}

.sidebar.expanded ul{
    width: 200px;
  }

.sidebar.expanded li{
    width: 100%;
}

.sidebar.expanded button{
    width: 100%;
}

/* Landing Page Styles */
/* Reset some default styles */
body, h1, h2, p {
  margin: 0;
  padding: 0;
}

/* Style the header and navigation bar */
.header {
  background-color: #333;
  color: white;
  padding: 20px;
}

/* Style the sections */
.section {
  padding: 100px 0;
  text-align: center;
}

.section-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

h1, h2 {
  color: #333;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  text-decoration: none;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #555;
}

/* Style the footer */
.footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px 0;
}

/* Style the landing page */
#btn-1 {
  width: 200px;
  padding: 10px;
  margin: 20px;
}

.p-landingpage{
  margin: 15px;
}

#new-user {
  background: none;
  border: none;
  padding: 0;
  font: inherit;
  text-decoration: underline;
  color: #e100ff;
  cursor: pointer;
}